html{
    font-family: 'Varela', sans-serif;
    background-color: #FCFCFC;
}
h1{
    margin-top: 0;
    padding-top: 0;
/*    font-size: 800%;
*/}

#chatbox{
    width: 50%;
    height: 70%;
    border: 1px solid red;
}
.center{
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
#searchbox{
/*    width: 500px;
    height: 100px;*/
    background-color: #FCFCFC;
    width: 100%;    
    border: none;
    font-size: 100px;
    min-height: 140px;
   /* line-height: 1.25em;*/
    overflow:hidden;
}
#searchbox:focus, #searchbox:active{
    color:#000;
    outline:0;
}